

# dev specific
NOTES.md


# backend

backend/*.pyc

backend/config/venvwrapper/secret-key
backend/config/venvwrapper/database


# webapp

webapp/.sass-cache
webapp/.tmp

webapp/dist
webapp/node_modules

webapp/app/bower_components
webapp/test/bower_components/
