
# backend

backend/*.pyc

backend/config/secret-key
backend/config/passwd-db


# webapp

webapp/.sass-cache
webapp/.tmp

webapp/dist
webapp/node_modules

webapp/app/bower_components
webapp/test/bower_components/
